* {
  user-select: none;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#startpoint {
  height: 100%;
  width: 100%;
}
#clickright {
  height: 52%;
  width: 19%;
  background-color: aqua;
  left: 81%;
  cursor: pointer;
  position: absolute;
}
#clickleft {
  height: 52%;
  width: 19%;
  background-color: red;
  right: 81%;
  cursor: pointer;
  position: absolute;
}
#clickexit {
  height: 28%;
  width: 14%;
  background-color: black;
  cursor: pointer;
  position: absolute;
}
#cam {
  position: absolute;
  bottom: 5%;
  right: 10%;
  height: 100%;
  width: 100%;
  /* display: none; */
}
#time {
  top: 0%;
  right: 0%;
  position: absolute;
  font-size: 400%;
}
#timehod {
  top: 0%;
  right: 4%;
  position: absolute;
  font-size: 400%;
}
#pych {
  top: 85%;
  right: 88%;
  position: absolute;
  font-size: 400%;
}
#pychhod {
  top: 85%;
  right: 84%;
  position: absolute;
  font-size: 400%;
}
#chodbaL {
  display: none;
  height: 100%;
  width: 100%;
}

#chodbaR {
  display: none;
  height: 100%;
  width: 100%;
}
#kam {
  display: none;
  height: 100%;
  width: 100%;
}

#kam1withKai {
  display: none;
  height: 100%;
  width: 100%;
}
#chodbaLwithKai {
  display: none;
  height: 100%;
  width: 100%;
}
#chodbaRwithKai {
  display: none;
  height: 100%;
  width: 100%;
}

#camDiv {
  width: 10%;
  height: 15%;
  position: absolute;
  bottom: 2%;
  right: 15%;
}

#camClick1 {
  bottom: 12.5%;
  right: 47%;
  height: 20%;
  width: 32%;
  position: absolute;
  background-color: gray;
  cursor: pointer;
}

#camClick2 {
  top: 12.5%;
  right: 48%;
  height: 22%;
  width: 28%;
  position: absolute;
  background-color: red;
  cursor: pointer;
}


